# Predicting Energy Prices Using Time Series Analysis

_By Isaac Valencia, Patrick de Beer, Cristina Ravenna, 
Mattias Escuerdo,and Matthew Henderson_
n

## Introduction and Motivation

## Data Description

Import Packages

In [178]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose


import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.stattools import adfuller
from random import randrange
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.linear_model import LinearRegression

from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
from math import sqrt

import math
from sklearn.metrics import mean_squared_error

In [179]:
data = pd.read_csv('energy_dataset.csv')
data = pd.DataFrame(data)
data.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [180]:
data.shape

(35064, 29)

In [203]:
def replace_whitespace_in_columns(data):
    data = data.copy()  # Avoid modifying the original dataframe directly
    data.columns = data.columns.str.replace(r'\s+', '_', regex=True)
    return data

data = replace_whitespace_in_columns(data)
data.columns

Index(['time', 'generation_biomass', 'generation_fossil_brown_coal/lignite',
       'generation_fossil_coal-derived_gas', 'generation_fossil_gas',
       'generation_fossil_hard_coal', 'generation_fossil_oil',
       'generation_fossil_oil_shale', 'generation_fossil_peat',
       'generation_geothermal', 'generation_hydro_pumped_storage_aggregated',
       'generation_hydro_pumped_storage_consumption',
       'generation_hydro_run-of-river_and_poundage',
       'generation_hydro_water_reservoir', 'generation_marine',
       'generation_nuclear', 'generation_other', 'generation_other_renewable',
       'generation_solar', 'generation_waste', 'generation_wind_offshore',
       'generation_wind_onshore', 'forecast_solar_day_ahead',
       'forecast_wind_offshore_eday_ahead', 'forecast_wind_onshore_day_ahead',
       'total_load_forecast', 'total_load_actual', 'price_day_ahead',
       'price_actual'],
      dtype='object')

In [213]:
print(data[["price_actual", "price_day_ahead"]].describe())

       price_actual  price_day_ahead
count  35064.000000     35064.000000
mean      57.884023        49.874341
std       14.204083        14.618900
min        9.330000         2.060000
25%       49.347500        41.490000
50%       58.020000        50.520000
75%       68.010000        60.530000
max      116.800000       101.990000

In [211]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
generation_biomass,35045.0,383.513540,85.353943,0.00,333.0000,367.00,433.00,592.00
generation_fossil_brown_coal/lignite,35046.0,448.059208,354.568590,0.00,0.0000,509.00,757.00,999.00
generation_fossil_coal-derived_gas,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation_fossil_gas,35046.0,5622.737488,2201.830478,0.00,4126.0000,4969.00,6429.00,20034.00
generation_fossil_hard_coal,35046.0,4256.065742,1961.601013,0.00,2527.0000,4474.00,5838.75,8359.00
generation_fossil_oil,35045.0,298.319789,52.520673,0.00,263.0000,300.00,330.00,449.00
generation_fossil_oil_shale,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation_fossil_peat,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation_geothermal,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation_hydro_pumped_storage_aggregated,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
generation_hydro_pumped_storage_consumption,35045.0,475.577343,792.406614,0.00,0.0000,68.00,616.00,4523.00
generation_hydro_run-of-river_and_poundage,35045.0,972.116108,400.777536,0.00,637.0000,906.00,1250.00,2000.00
generation_hydro_water_reservoir,35046.0,2605.114735,1835.199745,0.00,1077.2500,2164.00,3757.00,9728.00
generation_marine,35045.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation_nuclear,35047.0,6263.907039,839.667958,0.00,5760.0000,6566.00,7025.00,7117.00
generation_other,35046.0,60.228585,20.238381,0.00,53.0000,57.00,80.00,106.00
generation_other_renewable,35046.0,85.639702,14.077554,0.00,73.0000,88.00,97.00,119.00
generation_solar,35046.0,1432.665925,1680.119887,0.00,71.0000,616.00,2578.00,5792.00
generation_waste,35045.0,269.452133,50.195536,0.00,240.0000,279.00,310.00,357.00
generation_wind_offshore,35046.0,0.000000,0.000000,0.00,0.0000,0.00,0.00,0.00
generation_wind_onshore,35046.0,5464.479769,3213.691587,0.00,2933.0000,4849.00,7398.00,17436.00
forecast_solar_day_ahead,35064.0,1439.066735,1677.703355,0.00,69.0000,576.00,2636.00,5836.00
forecast_wind_offshore_eday_ahead,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
forecast_wind_onshore_day_ahead,35064.0,5471.216689,3176.312853,237.00,2979.0000,4855.00,7353.00,17430.00
total_load_forecast,35064.0,28712.129962,4594.100854,18105.00,24793.7500,28906.00,32263.25,41390.00
total_load_actual,35028.0,28696.939905,4574.987950,18041.00,24807.7500,28901.00,32192.00,41015.00
price_day_ahead,35064.0,49.874341,14.618900,2.06,41.4900,50.52,60.53,101.99
price_actual,35064.0,57.884023,14.204083,9.33,49.3475,58.02,68.01,116.80

In [183]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [184]:
data.isna().sum()

time                                               0
generation biomass                                19
generation fossil brown coal/lignite              18
generation fossil coal-derived gas                18
generation fossil gas                             18
generation fossil hard coal                       18
generation fossil oil                             19
generation fossil oil shale                       18
generation fossil peat                            18
generation geothermal                             18
generation hydro pumped storage aggregated     35064
generation hydro pumped storage consumption       19
generation hydro run-of-river and poundage        19
generation hydro water reservoir                  18
generation marine                                 19
generation nuclear                                17
generation other                                  18
generation other renewable                        18
generation solar                                  18
generation waste                                  19
generation wind offshore                          18
generation wind onshore                           18
forecast solar day ahead                           0
forecast wind offshore eday ahead              35064
forecast wind onshore day ahead                    0
total load forecast                                0
total load actual                                 36
price day ahead                                    0
price actual                                       0
dtype: int64

## Exploratory Data Analysis

## Preliminary Model

Setup for Time Series

In [216]:
data.rename(columns={'price actual' : 'price_actual'}, inplace=True)
data_initial = data[["time", "price_actual"]]
data_initial['time'] = pd.to_datetime(data_initial['time'], utc=True)
data_initial.set_index('time', inplace=True)
data_initial

C:\Users\matth\AppData\Local\Temp\ipykernel_6460\3670932562.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_initial['time'] = pd.to_datetime(data_initial['time'], utc=True)

                           price_actual
time
2014-12-31 23:00:00+00:00         65.41
2015-01-01 00:00:00+00:00         64.92
2015-01-01 01:00:00+00:00         64.48
2015-01-01 02:00:00+00:00         59.32
2015-01-01 03:00:00+00:00         56.04
...                                 ...
2018-12-31 18:00:00+00:00         77.02
2018-12-31 19:00:00+00:00         76.16
2018-12-31 20:00:00+00:00         74.30
2018-12-31 21:00:00+00:00         69.89
2018-12-31 22:00:00+00:00         69.88

[35064 rows x 1 columns]

## Final Model